/* GENERIC SETTINGS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

section{
    padding-top: 130px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

div.container_2{
    max-width: 1350px;
    margin: 0 auto;
    background-color: turquoise;
}

div.sub-container{
    margin: 0 auto;
    width: calc(100% - 80px);
    margin-top: 50px;
    background-color: violet;
}

.btn{
    background-color: #0061ff;
    color: white;
    padding: 13px 26px; 
    text-decoration: none;
}

h2{
    font-size: 50px;
    margin-bottom: 100px;
}

/************ HEADER **************/
header{
    height: 100px;
    min-width: 800px;
}

header .container{
    width: 100%;
    margin: 0 auto;
}

header .container ul{
    list-style: none;    
}

header .container .logo a{
    line-height: 100px;
    float: left;
    margin-left: 25px;
}

header .container ul li {
    display: inline;
    height: 100px;
}

header .container ul li:hover{
    border-bottom: 3px solid black;
}

header .container ul.left li{
    margin-left: 55px;
    float: left;
}

header .container ul.right li{
    margin-right: 55px;
    float: right;
}

header .container ul li a{
    color: black;    
    text-decoration: none;    
    line-height: 100px;  
    padding: 39px 0;  
}

.container .start{
    display: inline-block;
    float: right;
    line-height: 100px;
    margin-right: 25px;
}


/************ MAIN **************/

/* JUMBOTRON */

section.jumbotron{
    background-color: #b4d0e7; 
    height: 930px;   
}

.jumbotron .container{
    width: 85%;
    margin: 0 auto;
}

#slogan{
    font-size: 90px;    
    padding-bottom: 60px;
}

.jumbotron .side-piece{
    width: 28%;
    display: inline-block;
}

.side-piece .start{
    float: none;
}

.side-piece span{
    display: block;
    margin-top: -15px;    
}

.side-piece .arrow{
    margin: 0 10px;
    line-height: 100px;
}

.side-piece .arrow i{
    transform: scale(2);
    color: black;
}

.jumbotron img{
   width: 65%;
   display: inline-block; 
   vertical-align: top;
   float: right;
}

/* PRICE_RANGE */

section.price-range{
    margin-top: 100px;
}

.container_2 .select{
    display: inline-block;
    float: left;    
    line-height: 40px;
    vertical-align: middle;
    margin-right: 25px;
    margin-bottom: 55px;
}

.select .fakebox{
    display: inline-block;
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid lightgray;
}

.price-plan{
    border: 1px solid lightgray;
    background-color: white;    
}

.price-plan.user{
    height: 1330px;
    width: 29.3%;   
    margin-top: 1px;
    float: left;
}

.price-plan.standard{
    margin: 0 75px
}

.price-plan ul, .price-plan .start, .price-plan .type{
    margin: 0 auto;
}

.price-plan .type{
    text-align: center;
    padding: 18px 0;
    border-bottom:1px solid lightgray;
    
}

.price-plan ul li{
    list-style: none;
    margin-top: 20px;
}

ul.highlights li i{
    color: #0061ff;
}

.price-plan h4{
    margin-top: 20px;
    margin-bottom: 10px;
}

.price-plan .period{
    color: #98a1aa;
    margin-bottom: 60px;
}

.price-plan .start{
    margin-top: 80px;
    text-align: center;
}

.price-plan p.buy{
    line-height: 150px;
}
p.buy span.or{    
    border-bottom: 1px solid #98a1aa;
    display: inline-block;
}

p.buy a.now{
    color: #0061ff;
}

.price-plan h4.interline{
    margin-top: 60px;
    margin-bottom: 40px;
}

.price-plan.enterprice{
    margin-top: 70px;
}

.enterprice .enterprice-text{
    width: 70%;
    float: left;  
    margin-bottom: 30px;  
}

.enterprice-text h4{
    margin-bottom: 30px;
}

.enterprice .start{
    line-height: 53px;
    width: 29%;
    margin-top: 0;
    float: left;    
}

.enterprice a{
    padding-left: 50px;
    padding-right: 50px;
}












/* partner-finder */
section.partner-finder{    
    background-color: darksalmon;
    height: 800px;
}

.partner-image{
    width: 40%;
}

.partner-image img{
    object-fit: cover;
}

/* features */

section.features{
    background-color: deeppink;
    height: 2000px;
}
/* partners */

section.partners{
    background-color: firebrick;
    height: 1200px;
}
/* faq */

section.faq{
    background-color: green;
    height: 600px;
}
/************ FOOTER **************/
footer{
    height: 500px;
    background-color: indianred;
}



